<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <title>Balanced Diet</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/nutri.css' %}">
</head>
<body>
    <header class="bg-light p-3 fixed-top">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="logotipo">
                <img src="{% static 'img/logo.png' %}" alt="logotipo" style="height: 100px;">
            </div>
            <div>
                <form class="form-inline mr-10">
                    <input class="form-control mr-1" type="text" placeholder="Usuário" aria-label="Usuário" required>
                    <input class="form-control mr-1" type="password" placeholder="Senha" aria-label="Senha" required>
                    <button class="btn btn-primary" type="submit" style="background-color: #228B22">Entrar</button>
                </form>
                <div class="mt-1">
                    <a href="#" id="showcadULink" class="text-success">Quero me cadastrar!</a>
                </div>
            </div>
        </div>
    </header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="top: 120px; background-color: #e3f2fd;">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-success" href="#" id="meusDadosDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Meus Dados
                        </a>
                        <div class="dropdown-menu text-success" aria-labelledby="meusDadosDropdown" style="background-color: #e3f2fd;">
                            <a class="dropdown-item text-success" href="#" id="showImcLink" class="btn text-light">Cálculo IMC</a>
                            <a class="dropdown-item text-success" href="#" id="showDietaLink" class="btn text-light">Refeições</a>
                            <a class="dropdown-item text-success" href="#" id="showPlanoDLink" class="btn text-light">Planejar Dieta</a>
                            <a class="dropdown-item text-success" href="#" id="ShowCalLink" class="btn text-light">Meus Registros</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-success" href="#">Dicas de Alimentação</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-success" href="#">Atividades Físicas</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'img/carrocel1.jpg' %}" class="d-block w-100" alt="Imagem 1">
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/carrocel2.jpg' %}" class="d-block w-100" alt="Imagem 2">
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/carrocel3.jpg' %}" class="d-block w-100" alt="Imagem 3">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
        </a>
    </div>

    <main>
        <section class="container">
            <div class="image-container">
                <div class="row">
                    <div class="col-md-3 column mb-4">
                        <img src="{% static 'img/icnAlimento.png' %}" alt="icnAlimento" style="height: 100px">
                        <a href="#" id="showAlimLink" class="btn text-light">
                            <h3>Alimentação</h3>
                            <p>Sua Dieta diária e saudável</p>
                        </a>
                    </div>
                    <div class="col-md-3 column mb-4">
                        <img src="{% static 'img/incSaude.png' %}" alt="incSaude" style="height: 100px">
                        <a href="#" class="btn text-light">
                            <h3>Esporte e Saúde</h3>
                            <p>Atividades Físicas</p>
                        </a>
                    </div>
                    <div class="col-md-3 column mb-4">
                        <img src="{% static 'img/incestatistica.png' %}" alt="incestatistica" style="height: 100px">
                        <a href="#" class="btn text-light">
                            <h3>Análise</h3>
                            <p>Será que estou progredindo?</p>
                        </a>
                    </div>
                    <div class="col-md-3 column mb-4">
                        <img src="{% static 'img/incKcal.png' %}" alt="incKcal" style="height: 100px">
                        <a href="#" id="showKCalLink" class="btn text-light">
                            <h3>Calculadora Kcal</h3>
                            <p>Calcular calorias</p>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="content">
            <div class="text-container">
                <p>Crie uma dieta alinhada às suas necessidades específicas e priorize seu bem-estar...</p>
            </div>
            <div class="imagemcontainer">
                <img src="{% static 'img/imgfooter.png' %}" alt="Imgfoot">
            </div>
        </div>
        <div class="autor">
            <p><h5>Copyright © Turma 2 - Projeto Integrador II - Univesp</h5></p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>